/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

html {
  font-size: calc(1em + 1vw);
}

@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}

//
//@media screen and (min-width: 75em) {
//  html {
//    font-size: 1.5em;
//  }
//}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow: hidden;
}

